/*------------------------------------*\
    #TYPE
\*------------------------------------*/


// Predefine the variables below in order to alter and enable specific features.
$headingSize-1:  36px !default;
$headingSize-2:  30px !default;
$headingSize-3:  24px !default;
$headingSize-4:  20px !default;
$headingSize-5:  16px !default;
$headingSize-6:  14px !default;


/**
 * Headings 1–6.
 */

h1, .h1  {
    @include e-font-size($headingSize-1);
}

h2, .h2 {
    @include e-font-size($headingSize-2);
}

h3, .h3 {
    @include e-font-size($headingSize-3);
}

h4, .h4 {
    @include e-font-size($headingSize-4);
}

h5, .h5 {
    @include e-font-size($headingSize-5);
}
 
h6,.h6 {
    @include e-font-size($headingSize-6);
}

h1, h2, h3, h4, h5, h6 {
  color:$c-heading;
}

h1, h2, h3, h4 {
    font-weight: bold;
}
    

/**
 * A generic heading style which can be applied to any headings.
 */
.heading {
    @include e-font-size(22px);
}

.heading-sub {
    @include e-font-size(16px);
    @include e-font-weight(bold);
    margin-bottom: 0;
    color: $c-heading-sub;
}





/**
 * Paragraph.
 */

/**
 * The `.lede` class is used to make the introductory text (usually a paragraph)
 * of a document slightly larger: en.wikipedia.org/wiki/Lede_(news)
 */

// Predefine the variables below in order to alter and enable specific features.
$ledeSize:   1.125 !default;

.#{$e-namespace}lede,
%#{$e-namespace}lede {
    @include e-font-size($e-font-size * $ledeSize);
}





/**
 * Emboldened elements.
 */
a,
strong, b,
dt {
    font-weight: bold;
}




/**
 * Code-like elements.
 */
code, kbd, samp {
    color: $c-code-text;
    font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

pre {
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
    padding: $spacing-unit--small;
    background-color: $c-code-bg;
    border-radius: $baseRound;
    font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-size: 0.85rem;

    &,
    code, kbd, samp {
        color: $c-code-text;
    }

}







/**
 * Figures.
 *
 * 1. Outdent figures by an arbitrary amount at the relevant viewport size.
 * 2. Reindent figcaptions.
 */
figure {

    @media screen and (min-width: 1380px) {
        margin-left: -128px; /* [1] */
    }

    > img {
        border-radius: $baseRound;
    }

}

    figcaption {
        @include e-font-size(12px);

        @media screen and (min-width: 1380px) {
            margin-left: 128px; /* [2] */
        }

    }



